# =========================
# Custom
# =========================

__pycache__

wheels/

tensorflow/log/
tensorflow/models/
tensorflow/test-images
tensorflow/train-images
tensorflow/cuda/
tensorflow/wheels/

non-playing-cards-test/30objects/
non-playing-cards-test/log/
non-playing-cards-test/models/
non-playing-cards-test/test-images/
non-playing-cards-test/training-set/

cleaning/29objects/
cleaning/card-images
cleaning/concatenated-images
cleaning/log/
cleaning/models/
cleaning/test-images/
cleaning/training-set/
cleaning/*.npy



# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk